<div style="padding-top: 70px;padding-left: 75px;padding-right:175px;">
    <h1>Shopping cart</h1>
    <div class="row col-10" *ngIf="cart$ | async as cart"><!-- *ngIf="cart$ | async as cart"-->
        <p>
            You have {{ cart.totalItemsCount }} items in your shopping cart.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: left;">Product</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: right;">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items">
                    <td>
                        <div [style.background-image]="'url('+item.imageUrl+')'" class="thumbnail" ></div>
                    </td>
                    <td >
                        {{ item.title}}
                    </td>
                    <td style="width: 325px;;">
                        <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
                    </td>
                    <td style="text-align: right;">
                        {{ item.totalPrice | currency:'INR':true }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="text-align: right;">{{ cart.totalPrice | currency:'INR':true }}</th>
                </tr>
            </tfoot>
        </table>
        <div style="padding-bottom: 100px;">
            <button 
                (click)="clearCart()"
                class="btn btn-danger btn-sm" style="width: 150px;">Clear Shopping Cart</button>
        </div>
    </div>
</div>
